<div class="container">
  <% if @response != nil  %>
      <%# if @response.messages.resultCode == MessageTypeEnum::Ok  %>
        <% if @response.transactionResponse != nil && (@response.transactionResponse.messages != nil) %>
          <p><%= @response.transactionResponse.messages.messages[0].description %></p>
        <%# end %>
      <% else %>
          <p> Transaction failed. Please contact your administrator. </p>
        <% end %>
    <% else %>

    <% end %>
</div>